#newPatient {
	background-color: #3706c4;
}

#newPatient:hover {
  background-color: #4607fc;
}

#returnPatient {
	background-color: #cd74e9;
}

#returnPatient:hover {
  background-color: #dd7ff9;
}

#newCase {
	background-color: #9aa5eb;
}

#newCase:hover {
  background-color: #a5b1ff;
}

#clinicAbstract {
	background-color: #e9d732;
}

#clinicAbstract:hover {
  background-color: #ffea35;
}

#patientDb {
	background-color: #e9d732;
}

#patientDb:hover {
  background-color: #ffea35;
}

#recordDb {
	background-color: #4d4f70;
}

#recordDb:hover {
  background-color: #6a6ea2;
}

#stats {
	background-color: #cd74e9;
}

#stats:hover {
  background-color: #dd7ff9;
}

#docs {
	background-color: #7e635f;
}

#docs:hover {
  background-color: #b78c86;
}




